body {
	box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  padding: 2em;
}

header {
	background-color: #689f38;
  width: 100%;
  padding: 1em;
}

.wsBadge {
	margin: .25rem;
}

main {
	display: flex;
	padding-top: 2rem;
}

footer {
	justify-content: center;
}

h1 {
	color: #ffffff;
	text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.plant-image {
	max-height: 80vh;
}

.add-plant {
  font-size: 18px;
  margin: 2em;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-img {
	max-width: 300px;
}

.card-img-top {
	max-height: 300px;
}

.card {
	margin: 1rem;
}

.card:hover {
	background-color: #539f3875;
	transition-duration: .5s;
}

#detailImage {
	max-height: 60vh;
}

button {
	background-color: #689f38;
  font-size: 18px;
}

button > a {
	color: white;
}

#footer {
	text-align: center;
}

#landing {
	height: 90vh;
}