.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
	box-sizing: border-box;
}

header {
	background-color: #689f38;
	margin: 0;
	padding: 1em;
}

.wsBadge {
	margin: .25rem;
}

main {
	display: flex;
	padding-top: 2rem;
}

footer {
	justify-content: center;
}

h1 {
	color: #ffffff;
	text-align: center;
}

.plant-image {
	max-height: 80vh;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-img {
	max-width: 300px;
}

.card-img-top {
	max-height: 300px;
}

.card {
	margin: 1rem;
}

.card:hover {
	background-color: #539f3875;
	transition-duration: .5s;
}

#detailImage {
	max-height: 60vh;
}

button {
	background-color: #689f38;
}

button > a {
	color: white;
}

#footer {
	text-align: center;
}

#landing {
	height: 90vh;
}