html {
  min-height: 100%;
}

body {
	box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  padding: 2em;
}

header {
	position: fixed;
  padding-top: 1em;
  width: 100%;
  background-color: #689f38;
  color: white;
  top: 0;
  height: 100px;
  left: 0;
}

.below-header {
  padding-top: 80px;;
}

.wsBadge {
	margin: .25rem;
}

main {
	display: flex;
	padding-top: 2rem;
}

h1 {
	color: #ffffff;
	text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-img {
	max-height: 60vh;
}

.card-img-top {
  max-height: 800px;
  max-width: 400px;
}

.card {
  background-color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}

.main-card {
  padding: .5em;
}


.card:hover {
	background-color: #539f3875;
	transition-duration: .5s;
}


.add-plant {
  font-size: 18px;
  margin: 2em;
}

#detailImage {
	max-height: 60vh;
}

.form-labels {
  padding: 1em;
  color: black;
}

.auth-btn {
  background-color: #689f38;
}

.wraper {
  min-height: 100%;
  margin-bottom: -100px;
}

.content-inside {
  padding: 20px;
  padding-bottom: 100px;
}

footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1em;
  margin-top: 1em;
  background-color: #689f38;
  color: white;
  height: 100px;
}

.footer-text {
  padding-top: 1em;
  text-align: center;
}

button {
  background-color: lightgrey;
  padding: 1em;
}

.add-plant {
  margin: 4em auto;
}


/* Media Queries */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 375px) {
    .top-header, h1, h2, h3{
      font-size: 1.7em;
    }

    body {
      font-size: 1rem;
    }
}

@media (min-width: 768px) {
    body {
      font-size: 1em;
    }

}

@media (min-width: 960px){
    .card {
      margin-left: 2rem;
    }

}
